.bg-1{
  background-color: #7d6a9c;
  width: 60vw;
  height: 100vw;
  z-index: -1000;
  left: -10%;
  position: fixed;
  transform: skew(10deg);
}
.bg-2{
  background-color: #c9c3d4;
  width: 100vw;
  height: 100vw;
  z-index: -1001;
  position: fixed;
}